<nav>
    <div class="menu">
        <img src="images/Synera-logo.png" alt="Synera Logo">
        <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/eventos">Eventos</a></li>
            <li><a routerLink="/sobre">Sobre</a></li>
        </ul>
    </div>
    <button (click)="abrirModal('login')">Login</button>
</nav>

@if(dialogsOpen.login)
{
    <app-login (closeModal)="fecharModal('login')" (abrirModalCadastro)="abrirModal('cadastro')"></app-login>
}
@else if(dialogsOpen.cadastro)
{
    <app-cadastrar-user (cancelar)="abrirModal('login')" (cadastroRealizado)="exibirModalValidacao($event)"></app-cadastrar-user>
}
@else if(dialogsOpen.cadastroValidation)
{
    <app-cadastrar-user-mensagem [emailCadastrado]="email" (accountValidated)="abrirModal('login')" (closeModal)="fecharModal('cadastroValidation')"></app-cadastrar-user-mensagem>
}