<dialog class="modal" [open]="true">
    <button class="close-btn" (click)="close()">X</button>
    <h1>Login</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" formControlName="email" id="email" placeholder="Digite seu e-mail" required>
        </div>
        <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" formControlName="password" id="password" placeholder="Digite sua senha" required>
        </div>
        <button class="submit-btn" type="submit" [disabled]="loginForm.invalid">Entrar</button>
    </form>
    <p>Não tem uma conta? <a (click)="cadastrar()">Cadastre-se</a></p>
</dialog>