<dialog class="modal" [open]="true">
    <button class="close-btn" (click)="close()">X</button>
    <h1>Login</h1>
    <form>
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="Digite seu e-mail" required>
        </div>
        <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required>
        </div>
        <button type="submit">Entrar</button>
    </form>
    <p>Não tem uma conta? <a (click)="cadastrar()">Cadastre-se</a></p>
</dialog>